body{
    font-family: Arial, Helvetica, sans-serif;
   
    line-height: 1.5  ;
    padding: 0;
    margin: 0;
    background-color:#ffffff ;
  }
  

header{
    background: #303A52;
  
    color:black;
    padding-top:10px ;
    min-height: 110px;
    border-bottom: #170055 3px solid;
    font-size: 20px;
    align-items: center;
  }

  header h1{
    text-shadow: -2px 0 #DFFFFD, 0 2px #DFFFFD, 2px 0 #DFFFFD, 0 -2px #DFFFFD;
  cursor: pointer;
  float: left;
  margin-left: 60px;
  font-size: 40px;
  }

.userprofile h1{
  font-size: 45px;
  color: #000000;
  
  text-shadow: -2px 0 #DFFFFD, 0 2px #DFFFFD, 2px 0 #DFFFFD, 0 -2px #DFFFFD;
  margin-left: 70px;
}


img{
box-sizing: border-box;
width:300px;
height:300px;
border-radius:50%;
margin-top:0;
border:5px solid black;
padding: 3px;
background-color: white;
overflow: hidden;
position: absolute;

}
.profile{
    position:absolute;
    margin-top: 100px;
    margin-left: 200px;
}

.box{
    position:absolute;
    margin-top: 80px;
    margin-left: 700px;
}

.box label{
  width: 150px;
  text-align: right;
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  
}
.box select{
  font-size: 30px;
}
input{
box-sizing: border-box;
color: #170055;
background-color: #7DEDFF;
font-size: 20px;
margin:auto;
padding: 7px;
width: 300px;
height: 40px;
border: 4px solid black;
font-family: 'Roboto', sans-serif;
}

input:focus{
  border-color: aqua;
  border: 4px solid aqua;

}


.button button{
  box-sizing: border-box;
border:4px solid #000000;
background-color: #7DEDFF;
color:black;
font-weight: bolder;
height: 60px;
width: 200px;
font-size: 30px;
border-radius: 100px;
position:relative;
margin-top: 600px;
margin-left: 400px;
margin-bottom: 100px;
}
.button  #done{
  margin-left: 160px;
}
button:hover{
background-color: #DFFFFD;
}
input[type="file"]{
display:none;
}
.profile label{
box-sizing: border-box;
width:200px;
height:50px;
text-align:center;
font-weight: bold;
background-color: black;
line-height: 45px;
color:white;
padding: 4px;
margin-top: 320px;
position:absolute;
margin-left: 50px;
font-size:20px;
border-radius: 100px;
}
.profile label:hover{
  background-color: #303A52;;
color: white;
border:2px solid black;
font-weight: bold;
}
