@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
.container {
    width: 280px;
    height: 420px;
    margin: auto;
    margin-top: 5%;
    background-color:#2C394B;
    font-family: 'Comfortaa', cursive;
}

.game-title {
    background-color: #082032;
    padding-bottom: 4%;
    color:#A2DBFA;
    font-size: 20px;
    text-align: center;
    padding: 3% 0%;
}

.cheering {
    text-align: center;
    font-family: 'Cinzel', serif;
    color: #FEF1E6;
    margin-top: 3%;
    font-size: 15px;
    margin-bottom: 0;
}

.logo {
    width: 30px;
    height: 30px;
    margin: 5px 0px;
}

.logo-container {
    margin: 0% 45%;
}

.input-container {
    margin-top: 5%;
}

.label {
    font-family: 'Cinzel', serif;
    color: #FEF1E6;
    padding: 5% 12%;
}
.input {
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    margin: 1% 10%;
    border-radius: 2rem;
    border-color: #334257;
    background-color: #334257;
    border-style: none;
    color: white;
    padding-left: 3%;
    font-weight: bold;
}

.input:focus {
    outline-width: 0;
}
.cbb {
    margin: 3% 35%;
    border-radius: 5rem;
}

.cbbItems {
}

.SubmitBtn {
    width: 80%;
    margin: 1% 10%;
    background-color: #A2DBFA;
    border-radius: 5px;
    border-style: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.SubmitBtn:hover {
    background-color: #082032;
    color: #A2DBFA;
}

.sign-up-btn {
    color: '#FEF1E6';
    text-align: center;
    margin-top: 2%;
    text-decoration: underline;
    font-size: 17px;
}

.sign-up-btn {
    color: #FEF1E6;
}

.sign-up-btn:hover {
    color: #A2DBFA;
}
.reset-pwd-btn {
    text-align: center;
    margin-top: 2%;
}

.rs-btn {
    color: #EA5455;
}
.rs-btn:hover {
    font-weight: bold;
    color: #EA5455;
}

.error {
    text-align: center;
    color: #EA5455;
    margin-top: 1%;
    margin-bottom: 0%;
}